## CricleCI for prestevez.com
version: 2.1
jobs:
  build:
    docker:
      - image: cibuilds/hugo:0.76
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PWD
    working_directory: ~/project

    steps:
      # checkout repository
      - checkout
      # build with hugo
      - run:
          name: "Run Hugo"
          command: HUGO_ENV=production hugo -v
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
                rm -rf .git
                cp -r .circleci public/
                cp CNAME public/
                cd public/
                git config --global user.email "${GIT_EMAIL}"
                git config --global user.name "${GIT_NAME}"
                git init
                git remote add origin git@github.com:prestevez/prestevez.github.io.git
                git checkout --orphan gh-pages
                git add .
                git commit -m "Automated deployment job ${CIRCLE_BRANCH} #${CIRCLE_BUILD_NUM} [skip ci]" --allow-empty
                git push origin gh-pages --force
            fi

workflows:
  build-and-deploy:
    jobs:
      - build:
          filters:
              branches:
                  only:
                      - master
          context:
              - authentication
              - git_details
